@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* Add these styles to your existing CSS */

.todo-title {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.todo-description {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.container input {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.container input {
    margin-right: 10px; 
    width: 80%;
  }
  
#button-container {
display: flex; 
justify-content: space-between; 
width: 400px; 
margin: 20px auto; 
border: 1px solid #ddd;
padding: 10px;
border-radius: 4px;
padding-bottom: 10px;
}
  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
  }
    
  
body  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #cfd3e5;
    flex-direction: column;
    gap: 50px;
  }
  
  a {
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 16px;
    transition: 0.5s;
  }
  .anchor{
    font-size: 0.5em;
  }
  a:hover {
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
  }
  
  a:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
  }
  
  a span {
    position: relative;
    z-index: 1;
  }
  
  a i {
    position: absolute;
    inset: 0;
  }
  
  a i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }
  
  a:hover i::before {
    width: 20px;
    left: 20%;
  }
  
  a i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }
  
  a:hover i::after {
    width: 20px;
    left: 80%;
  }
  